  <tr>
    <td>
      {{market.name}}

      <button class="button is-small is-outlined is-pulled-right" {{action (mut placeBet) true}}>Place Bet &nbsp; {{fa-icon 'coins'}}</button>
      {{#if placeBet}}
      <div>
        {{fa-icon 'bitcoin'}}
        <div class="control">
        
        </div>
        <div class="field has-addons">
          <p class="control">
            <span class="select">
              <select>
                <option>Bitcoin</option>
                <option>Ether</option>
              </select>
            </span>
          </p>
          <p class="control">
            {{input value=bitcoinValue class="input"}}
          </p>
          <p class="control">
            <a class="button">
              Transfer
            </a>
          </p>
        </div>

      </div>
      {{/if}}
    </td>
  </tr>